.App {
  text-align: center;

  .footer {
    background-color: slategray;
    bottom: 0;
    position: absolute;
    height: 45px;
    line-height: 45px;
    width: 100%;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
